<mat-grid-list cols="1" rowHeight="5:1">
  <mat-grid-tile *ngFor="let provider of providers" (click)="openProvider(provider)" colspan="1">
    <!--<img src="{{provider.image}}" layout-fill>    
    <mat-grid-tile-footer>
      <h5>{{ provider.name }}</h5>
    </mat-grid-tile-footer> -->


    <div class="provider_container">
      <div class="provider_pic">
        <img src="{{provider.image}}" width="130px">
      </div>
      <div class="provider_info">
        <h4>{{provider.name}}</h4>
        <p>{{provider.description}}</p>
      </div>
      <div class="provider_rating">        
        <rating [(ngModel)]="provider.rating" [max]="5"        
        fullIcon="★"
        emptyIcon="☆"
        [readonly]="false"
        [disabled]="false"
        [required]="true"
        [float]="true"
        [titles]="['one', 'two', 'three', 'four', 'five']"></rating>
        <h6>{{provider.reviews}}</h6>
        <i class="material-icons">
          perm_identity
          </i>
      </div>
    </div>

  </mat-grid-tile>
</mat-grid-list>