.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    grid-template-areas: 
    "header header"
    "content content"
    "content content"
    "content content" 
}

.header {
    grid-area: header;
}

.content{
    grid-area: content;
}

