<!--<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Tabs with text labels</h2>
    <mat-tab-group class="demo-tab-group">

      <mat-tab label="Tiendas">
        <app-list-providers></app-list-providers>
      </mat-tab>

      <mat-tab label="Mapa">
        <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
          <agm-marker *ngFor="let provider of providers" [latitude]="provider.address.lat" [longitude]="provider.address.lng">
            <agm-info-window>
              <h3>{{provider.name}}</h3>
              <p>{{provider.address.formatted_address}}</p>
            </agm-info-window>
          </agm-marker>
        </agm-map>
      </mat-tab>

    </mat-tab-group>
  </mat-card-content>
</mat-card>-->

<mat-tab-group class="demo-tab-group">

  <mat-tab label="Mapa">
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
      <agm-marker *ngFor="let provider of providers" [latitude]="provider.address.lat" [longitude]="provider.address.lng">
        <agm-info-window>
          <h3>{{provider.name}}</h3>
          <p>{{provider.address.formatted_address}}</p>
        </agm-info-window>
      </agm-marker>
    </agm-map>
    <app-list-providers></app-list-providers>
  </mat-tab>

  <mat-tab label="Tiendas">
    <app-list-providers></app-list-providers>
  </mat-tab>

</mat-tab-group>