<div class="main_layout">

  <div>
    <agm-map #gm [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" gestureHandling="greedy">
      <agm-marker [latitude]="latitude" [longitude]="longitude">
        <agm-info-window #infoWindow>
          <h3>You are here!</h3>
        </agm-info-window>
      </agm-marker>
      <agm-marker *ngFor="let provider of providers" [latitude]="provider.address.lat" [longitude]="provider.address.lng">
        <agm-info-window>
          <img src="{{provider.url}}" width="50px" height="50px">
          <h3>{{provider.name}}</h3>
          <p>{{provider.address.formatted_address}}</p>
          <!--<p>{{provider.distance}}</p>-->
          <button mat-button color="primary" (click)="openProvider(provider)">Mostrar</button>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>

  <div>
    <app-list-providers></app-list-providers>
  </div>


</div>