<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <div *ngIf="(userAuthState | async)">
            <img src="{{user.photoURL}}" width="60px" height="60px">
            <label>{{user.displayName}}</label>
            <a (click)="orders()">My Orders</a>
        </div>
        <div>
            <ul>
                <li *ngIf="!(userAuthState | async)">
                    <a (click)="login()">Login</a>
                </li>
                <li *ngIf="(userAuthState | async)">
                    <a (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </mat-drawer>
    <div>
        <app-navbar (uploaded)="someMethod($event)"></app-navbar>
    </div>
    <!--<mat-toolbar color="primary">
          <span>
            <mat-icon (click)="drawer.toggle()">menu</mat-icon>
          </span>
          <span>Application Title</span>
        </mat-toolbar>-->
    <div class="main">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>