@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 





	.grid{
		display: grid;
		/*grid-template-columns: repeat(5, 1fr);
		grid-auto-rows: minmax(100px, auto);
		
	
		grid-template-areas: 
		"header header header header rating1"
		"header header header header rating1"
		"review_container review_container review_container review_container review_container"
		"review_container review_container review_container review_container review_container"	*/	
	}

	.provider_container{
				display: grid;
				grid-template-columns: 1fr 3fr 1fr;
				grid-auto-rows: minmax(100px, auto);					
			}

			.provider_info{		
						
			}
			
		.provider_pic{								
				justify-self: center;
				align-self: center;
			}
		
		.provider_rating {		
			justify-self: center;
			align-self: center;			
			}
	
	
	



	
	
	.review_container{
		grid-area: review_container;		
	}
	
	




	.review_container{
		display: grid;
				grid-template-columns: repeat(5, 1fr);
				grid-auto-rows: minmax(50px, auto);	
				grid-template-areas: 
				"user_pic review_info review_info review_info review_info"
				"user_pic review_info review_info review_info review_info"
				"review_content review_content review_content review_content review_content"
				"review_content review_content review_content review_content review_content"
		}




	.review_content{
		grid-area: review_content;
		background: burlywood;
	}
	
.user_pic{
		grid-area: user_pic;		
		align-items: end;
		justify-self: center;
		align-self: center;
	}

.review_info {
		grid-area: review_info;		
		background: aquamarine;
	}
	